body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: hotpink;
    width: 1000px;
    color: #aaa;
}

h1 {
    color: green;
    text-align: center;
    font-size: 80px;
}

img {
    width: 100%;
    height: auto;
}

form {
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 20px;
}

form {
    margin-top: 20px;
}