/* Intro and info sections */

.intro {
  padding: 1rem;
}

.intro > h1,
main > h1 {
  font-family: var(--bs-font-serif);
  font-size: 2rem;
  font-weight: normal;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em;
}

.info > * {
  flex: 1;
}

@media screen and (min-width: 630px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}